--title "Homebrew"
--main Library/Homebrew/README.md
--markup markdown
--no-private
--exclude Library/Homebrew/test/
--exclude Library/Homebrew/vendor/
--exclude Library/Homebrew/compat/
Library/Homebrew/**/*.rb
-
share/doc/homebrew/*.html
Library/Homebrew/*.md
share/doc/homebrew/*.md
*.md
