#masthead {
	background: #292724;
	color: #b7b29e;
	padding:  12pt;
	border: 0;
	border-bottom: 4px solid #55514a;
}
#masthead p {
	margin: 0;
	font-size: 9pt;
	margin-bottom: 3pt;
}
#masthead h1 {
	margin: 0;
	color: #eee7cd;
}

#nav {
	float: right
}

.quote {
	position: absolute;
	font-size: 9pt;
	width: 252px;
	text-align: justify;
	top: 16pt;
	right: 100pt;
}
.quote a {
	margin-top: 4pt;
	float: right;
	color: #eee7cd;
	text-decoration: none;
}
.quote a:hover {
	text-decoration: underline;
}

td {
	padding: 12pt;
	color: #7c3411;
}
td:first-child {
	width: 350px;
	background: #fff;
	border-right: 20pt solid #fff5ba;
	border-bottom: 1px dashed #8d875f;
	color: #000;
}

table {
	border-bottom: 4px solid #55514a;
}

pre {
	position: relative;
	overflow: visible;
}

pre.with_comments span {
	color: #b09036;
	margin-left: 18pt;
}

center {
	margin: 2em;
	margin-bottom: 1em;
}
a.more {
	background: #292724;
	color: #fff;
	font-family: "Lucida Sans", sans-serif;
	text-decoration: none;
	-webkit-border-radius: 7px;
	font-size: large;
	padding: 10px;
}
a.more:hover {
	text-decoration: underline;
}

td {
	vertical-align: top;
}

p {
	margin: 0;
	padding: 0;
	margin-bottom: 12pt;
}

h2 {
	margin: 0;
	margin-top: 12pt;
	font-size: 10pt;
}

pre, ul {
	margin:  0;
}

body {
	background: #ffeb75;
	font-family: "Lucida Sans", "Verdana", sans-serif;
	color: #292724;
	margin: 0;
	font-size: 10pt;
}

.gist-syntax .k{color:#000;font-weight:bold;}
.gist-syntax .nb{color:#0086B3;}
.gist-syntax .nc{color:#458;font-weight:bold;}
.gist-syntax .nf{color:#900;font-weight:bold;}
.gist-syntax .no{color:#008080;}
.gist-syntax .o{color:#000;font-weight:bold;}
.gist-syntax .s1{color:#d14;}
.gist-syntax .s2{color:#d14;}
.gist-syntax .si{color:#d14;}
