# Environment and deploy file
# For use with bin/server_deploy, bin/server_package etc.
DEPLOY_HOSTS="hostname1.net
              hostname2.net"

APP_USER=spark
APP_GROUP=spark
INSTALL_DIR=/home/spark/job-server
LOG_DIR=/var/log/job-server
SPARK_HOME=/home/spark/spark-0.8.0
SPARK_CONF_HOME=$SPARK_HOME/conf
# Only needed for Mesos deploys
SPARK_EXECUTOR_URI=/home/spark/spark-0.8.0.tar.gz
